* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

nav {
    margin-bottom: 20px;
    padding: 20px;
}

button {
    padding: 10px 20px;
    background-color: #008c04;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #006400;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.form-container h1 {
   text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="tel"], input[type="radio"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 10px;
}

.radio-group {
    display: flex;
    align-items: center;
}

input[type="text"]:focus, input[type="tel"]:focus {
    border-color: #007bff;
}

.container-verif {
   display: flex;
   justify-content: center;
   align-content: center;
   margin-top: 1rem;
   
}

.alert {
   display: flex;
   flex-direction: column;
   /* border: 4px solid black; */
   border-radius: 15px;
   height: auto;
   width: 15em;
   padding: 2rem;
   color: green;
   background-color: white;
   display: none;
   
}

.alert i {
   font-size: 3rem;
   text-align: center;
}

.alert span {
   font-size:2rem;
   text-align: center;
   margin-top: 10px;
}

.alert.expand {
   display: inherit;
}

.alert.expanded {
   display: none;
}

@keyframes animasi{
   from {
      transform: rotate(45deg);
   }
   to {
      transform: rotate(0deg);
   }
}

/*transparan*/

.transparan {
   height: 50vh;
}

/*footer*/
.footer {
   background-color: #333;
   padding: 20px 0;
}

.footer .contact-info {
   align-items: center;
   gap: 20px;
   margin-bottom: 20px;
   padding: 10px;
   color: white;
}
.footer .contact-info div {
   align-items: center;
   gap: 10px;
   margin-top: 5px;
}
.footer .contact-info div i {
   font-size: 1.2em;
}

.footer .contact-info div span {
   font-size: 0.7em;
}

.footer .separator1 {
   width: 500px;
   height: 1px;
   background-color: black;
   margin: 10px 0;
}

.footer .separator2 {
   width: 200px;
   height: 1px;
   background-color: black;
   margin: 10px 0;
}

.footer .separator3 {
   width: 100px;
   height: 1px;
   background-color: black;
   margin: 10px 0;
}


.sosials {
   padding: 10px;
   display: flex;
   gap: 10px;
}

.sosials div a i {
   color: white;
}

.shover:hover {
   color: gray;
}

.link-nav {
   padding: 20px;
   font-size: 0.7em;
   width: 80px;
}

.link-nav a {
   list-style-type: circle;
   text-decoration: none;
   color: white;
}

.footer-bottom {
    background: #222;
    padding: 10px 0;
    color: white;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}


@media (max-width: 600px) {
    .form-container {
        padding: 10px;
    }

    input[type="text"], input[type="tel"] {
        padding: 8px;
    }

    button {
        padding: 8px 16px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer .contact-info div span {
         font-size: 1em;
      }
   .footer-content {
        padding: 10px;
    }

    .footer-content h3 {
        font-size: 20px;
    }

    .footer-content p {
        font-size: 14px;
    }

    .socials a {
        font-size: 18px;
    }
  
}